<!DOCTYPE html>
<html>
	<head>
		<title>Partita</title>
	</head>
	
	<body>
		<h1> Registrazione Partita</h1>
		<form th:method="POST" th:action="@{/admin/tornei/{id}/partite(id=${torneo.id})}" th:object="${partita}">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
			</div>
			<div>
				Squadra Home:<select th:field="*{squadraHome}">
					<option value="">--Seleziona SquadraHome--</option>
					<option th:each="s : ${squadre}" th:value="${s.id}" th:text="${s.nome}"></option>
				</select>
				<span th:if="${#fields.hasErrors('squadraHome')}" th:errors="*{squadraHome}"></span>
			</div>
			<div>
				Squadra Away:<select th:field="*{squadraAway}">
					<option value="">--Seleziona SquadraAway--</option>
					<option th:each="s : ${squadre}" th:value="${s.id}" th:text="${s.nome}"></option>
				</select>
				<span th:if="${#fields.hasErrors('squadraAway')}" th:errors="*{squadraAway}"></span>
			</div>
			<div>
				Data e Ora:<span><input type="datetime-local" th:field="${partita.dataOra}"></span>
				<span th:if="${#fields.hasErrors('dataOra')}" th:errors="*{dataOra}"></span>	
			</div>
			<div>
				Luogo:<span><input type="text" th:field="${partita.luogo}"></span>
				<span th:if="${#fields.hasErrors('luogo')}" th:errors="*{luogo}"></span>	
			</div>
			<div>
			    Arbitro:<select th:field="*{arbitro}">
			        <option value="">-- Seleziona arbitro --</option>
			        <option th:each="a : ${arbitri}" th:value="${a.id}" th:text="${a.nome + ' ' + a.cognome}">
			        </option>
			    </select>
				<span th:if="${#fields.hasErrors('arbitro')}" th:errors="*{arbitro}"></span>
			</div>
			<div>
				<span><button type="submit">Conferma</button></span>
			</div>
		</form>

	</body>
	
</html>