<!DOCTYPE html>
<html>
	<head>
		<title>Result</title>
	</head>
	
	<body>
		<h1>Inserisci risultato</h1>
		<form th:method="POST" th:object="${partita}" th:action="@{'/admin/partite/' + ${partita.id} + '/risultato'}">
			<input type="hidden" th:field="*{id}" />
			<div th:if="${#fields.hasGlobalErrors()}"> 
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
			</div>
			<div>
				<span th:text="${partita.squadraHome.nome}"></span>
				<input type="text" th:field="*{goalsHome}">
				<span th:if="${#fields.hasErrors('goalsHome')}" th:errors="*{goalsHome}">	</span>
				
				<input type="text" th:field="*{goalsAway}">
				<span th:if="${#fields.hasErrors('goalsAway')}" th:errors="*{goalsAway}">	</span>
				<span th:text="${partita.squadraAway.nome}"></span>
				
			</div>
			<div>
				<button type="submit">Salva Risultato</button>
			</div>
		</form>
	</body>
</html>