<!DOCTYPE html>
<html>
	<head>
		<title>Giocatore</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	<body>
		<div class="nav">
		    <div class="nav-logo-section">
		        <strong><a th:href="@{/}">⚽ Tornei Calcio</a></strong>
		        
				<span th:if="${userDetails == null}" style="display: inline-flex; align-items: center;">
				            <a th:href="@{/login}" style="color: white; background: rgba(255, 255, 255, 0.2); padding: 5px 12px; border-radius: 4px; text-decoration: none; font-size: 13px; font-weight: bold; font-family: Arial, sans-serif;">Log in</a>
				        </span>
				        
				        <span th:if="${userDetails != null}" style="display: inline-flex; align-items: center;margin-left: 12px;">
				            <form th:action="@{/logout}" method="POST" style="margin: 0; padding:0; display: inline-flex;">
				                <button type="submit" style="background-color: #ef4444; color: white; border: none; padding: 6px 14px; border-radius: 4px; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; cursor: pointer;">Log out</button>
				            </form>
				        </span>
		    </div>
		    
		    <div>
		        <a th:href="@{/tornei}">Tornei</a>
		        <a th:href="@{/giocatori}">Giocatori</a>
		        <a th:href="@{/squadre}">Squadre</a>
		        <a th:href="@{/partite}">Calendario</a>
		    </div>
		</div>
		<div class="list-container view-container">
			
			<div class="torneo-header">
				<h1 th:text="${giocatore.nome} +' '+ ${giocatore.cognome}">Nome giocatore</h1>
			</div>
			
			<div class="info-card">
				<div class="info-row">
					<strong>CF:</strong> <span th:text="${giocatore.codiceFiscale}" style="text-transform: uppercase;"></span>
				</div>
				<div class="info-row">
					<strong>Anno:</strong> <span th:text="${giocatore.dataNascita}"></span>
				</div>
				<div class="info-row">
					<strong>Ruolo:</strong> <span th:text="${giocatore.ruolo}" class="player-role spec-role"></span>
				</div>
				<div class="info-row">
					<strong>Altezza:</strong> <span th:text="${giocatore.altezza} + ' cm'"></span>
				</div>
			</div>

			<div th:if="${userDetails != null and userDetails.authorities.toString().contains('ADMIN')}" class="admin-panel">
				<a th:href="@{'/admin/giocatori/'+ ${giocatore.id} + '/edit'}" class="button btn-edit">📝 Modifica Giocatore</a>				
			</div>	
			
		</div>
		<footer>
		    Progetto SIW - Sistema gestione tornei calcio
		</footer>
	</body>
</html>