<!DOCTYPE html>
<html>
<head>
    <title>Lista Partite</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div class="nav">
	    <div class="nav-logo-section">
	        <strong><a th:href="@{/}">⚽ Tornei Calcio</a></strong>
	        
			<span th:if="${userDetails == null}" style="display: inline-flex; align-items: center;">
			            <a th:href="@{/login}" style="color: white; background: rgba(255, 255, 255, 0.2); padding: 5px 12px; border-radius: 4px; text-decoration: none; font-size: 13px; font-weight: bold; font-family: Arial, sans-serif;">Log in</a>
			        </span>
			        
			        <span th:if="${userDetails != null}" style="display: inline-flex; align-items: center;margin-left: 12px;">
			            <form th:action="@{/logout}" method="POST" style="margin: 0; padding:0; display: inline-flex;">
			                <button type="submit" style="background-color: #ef4444; color: white; border: none; padding: 6px 14px; border-radius: 4px; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; cursor: pointer;">Log out</button>
			            </form>
			        </span>
	    </div>
	    
	    <div>
	        <a th:href="@{/tornei}">Tornei</a>
	        <a th:href="@{/giocatori}">Giocatori</a>
	        <a th:href="@{/squadre}">Squadre</a>
	        <a th:href="@{/partite}">Calendario</a>
			<a th:href="@{/arbitri}">Arbitri</a>
	    </div>
	</div>

    <div class="header-list">
        <h1>📅 Calendario e Risultati</h1>
        <p>Controlla le partite in programma e i risultati dei match già giocati</p>
    </div>

	<div class="list-container view-container">
	    <ul class="item-list">
	        <li th:each="p : ${partite}" class="item-element">
	            <span class="icon-ball">📅</span>
	            
	            <a th:href="@{'/partite/' + ${p.id}}" class="item-link">
	                <span th:text="${p.squadraHome.nome}"></span>
	                <span th:if="${p.stato.name() == 'SCHEDULED'}">
	                    - 
	                    <span th:text="${p.squadraAway.nome}"></span>
	                </span>
	                <span th:unless="${p.stato.name() == 'SCHEDULED'}">
	                    <span th:text="' (' + ${p.goalsHome} + '-' + ${p.goalsAway} + ') '"></span>
	                    <span th:text="${p.squadraAway.nome}"></span>
	                </span>
	            </a>
	            
	            <span th:text="${#temporals.format(p.dataOra, 'dd/MM')}" class="match-date" style="margin-left: auto; padding-right: 15px;"></span>
	            <a th:href="@{'/tornei/' + ${p.torneo.id}}" th:text="${p.torneo.nome}" class="tournament-link"></a>
	        </li>
	    </ul>
	</div>
	 <footer>
	     Progetto SIW - Sistema gestione tornei calcio
	 </footer>		
    </body>
</html>