<!DOCTYPE html>
<html>
	<head>
		<title>Partita</title>
	</head>
	<body>
		<h1>
			<span th:text="${partita.squadraHome.nome}">Home</span>
			<span th:if="${partita.stato.name() == 'SCHEDULED'}">-</span>
			<span th:if="${partita.stato.name() == 'PLAYED'}" th:text="${partita.goalsHome + ' - ' + partita.goalsAway}"></span>
			<span th:text="${partita.squadraAway.nome}">Away</span>			
		</h1>
		<div>
			Data e ora:<span th:text="${#temporals.format(partita.dataOra, 'dd/MM/yyyy HH:mm')}"></span>
		</div>	
		<div>
			Luogo: <span th:text="${partita.luogo}"></span>	
		</div>
		<div>
			Arbitro (COD):<a th:href="@{'/arbitri/' + ${arbitro.id}}" th:text="${arbitro.codiceArbitro}"></a>
		</div>
		
		<div th:if="${userDetails != null and userDetails.authorities.toString().contains('ADMIN')}">
			<a th:href="@{'/admin/partite/{id}/addRisultato'(id=${partita.id})}">Aggiungi risultato</a>
		</div>
		<div th:if="${userDetails != null and userDetails.authorities.toString().contains('DEFAULT')}">
			<h2>Commenti (<span th:text="${nCommenti}"></span>)</h2>

			<div th:each="c : ${partita.commenti}">
			    
			    <h3 th:text="${c.titolo}">Titolo del commento</h3>
			    
			    <p th:text="${c.descrizione}">Descrizione del commento</p>
				<span>Scritto da: <strong th:text="${c.utente.nome} + ' ' + ${c.utente.cognome}">Nome Cognome</strong></span>
			    
			    
			    <span>
			        <a th:href="@{'/utenti/commenti/' + ${c.id} + '/edit'}">Modifica</a>
			    </span>
			    
			    <hr> 
			</div>

			<br>

			<div>
			    <a th:href="@{'/utenti/partite/{id}/commenti/new'(id=${partita.id})}">Aggiungi commento</a>
			</div>
		</div>


	</body>
	
</html>