.header h2{
	padding-top: 5px;
	padding-bottom: 30px;
	
}

.header form{
	display: flex;
	justify-content: center;
	gap: 10px;
}

.header form input{
	padding: 10px;
	border: none;
	border-radius: 6px;
	outline:none;
	width: 200px;
}

.header form button{
	padding: 10px 15px;
	border: none;
	border-radius: 6px;
	background-color: #22c55e;
	color: white;
	cursor: pointer;
	font-weight: bold;
	transition: 0.2s;
}

.header form button:hover{
	background-color: #16a34a;
	transform: scale(1.05);
}


.table {
    list-style: none;
    margin: 50px auto;
    width: 1000px;
    background-color: aliceblue;
    border-radius: 12px;
    padding: 20px;
}

.table li {
	display: flex;
    margin: 15px 0;
    padding: 20px 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.2s;
	justify-content: space-between;
}
.table li:hover{
	transform: translateY(-5px);
}
.table a {
	text-decoration: none;
	font-weight: bold;
}

.table a:hover{
	text-decoration: underline;
}
.table span{
	margin-left: 500px;
}