<!DOCTYPE html>
<html>
	<head>
		<title>Commenti</title>
	</head>
	<body>
		<form th:action="${commento.id != null} ? @{'/utenti/commenti/' + ${commento.id}} : @{'/utenti/partite/' + ${commento.partita.id} + '/commenti'}" th:object="${commento}" method="POST">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
			</div>
			<div>
				Titolo:<span><input type="text" th:field="${commento.titolo}"></input></span>
			</div>
			<div>
				Descrizione:<span><input type="text" th:field="${commento.descrizione}"></input></span>
			</div>
			<div>
				<span><button type="submit">Conferma</button></span>
			</div>
		</form>
	</body>
</html>