<!DOCTYPE html>
<head>
    <title>Registrazione</title>
    <link rel="stylesheet" th:href="@{/css/style.css?v=9}">
</head>
<body class="login-page"> <div class="login-container"> <h1>Registrati</h1>
    
    <form th:action="@{/register}" th:method="POST" th:object="${credenziali}" class="login-form">
        
        <div class="form-group">
            <label>Nome:</label>
            <input type="text" name="nome" th:value="${utente.nome}" required />
            <p th:if="${#fields.hasErrors('utente.nome')}" th:errors="${utente.nome}" class="error-message-inline"></p>
        </div>
        
        <div class="form-group">
            <label>Cognome:</label>
            <input type="text" name="cognome" th:value="${utente.cognome}" required />
            <p th:if="${#fields.hasErrors('utente.cognome')}" th:errors="${utente.cognome}" class="error-message-inline"></p>
        </div>
        
        <div class="form-group">
            <label>Email:</label>
            <input type="email" name="email" th:value="${utente.email}" required />
            <p th:if="${#fields.hasErrors('utente.email')}" th:errors="${utente.email}" class="error-message-inline"></p>
        </div>
        
        <div class="form-group">
            <label>Username:</label>
            <input type="text" th:field="*{username}" required />
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-message-inline"></p>
        </div>
        
        <div class="form-group">
            <label>Password:</label>
            <input type="password" th:field="*{password}" required />
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message-inline"></p>
        </div>
        
        <div class="form-actions">
            <button type="submit" class="btn-submit">Registrati</button>
        </div>
    </form>
</div>

</body>
</html>